@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&family=Poiret+One&display=swap");

#prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  background-color: #eef7ff;
  color: black;
  transition: background-color 2s, color 2s;
  margin: 0;
  padding: 0;
  font-family: "Duru Sans", sans-serif;
}

.navbar {
  background-color: #F8F9FA !important;
}

.socials {
  background-color: #F8F9FA !important;
}

.navbar-brand {
  font-family: "Duru Sans", sans-serif;
  padding-right: 1rem;
  flex-grow: 1; /* Occupa tutto lo spazio disponibile */
}

.navbar-toggler {
  position: fixed; /* Cambiato a fixed per farlo rimanere fermo rispetto alla viewport */
  right: 0.5rem; /* Mantiene il pulsante a destra */
  top: 0.5rem; /* Puoi regolare questo valore per un corretto allineamento verticale */
  transform: none; /* Rimuove la trasformazione, visto che usiamo "fixed" */
  z-index: 1050; /* Mantiene il pulsante sopra il contenuto */
  margin-top: 0; /* Rimuove qualsiasi margine superiore */
  padding: 0.5rem; /* Aggiunge un po' di padding per migliorare l'area di clic */
}

.navbar-nav .nav-link {
  color: black; /* Colore del testo della navbar */
  font-size: 1.1rem;
  text-decoration: none;
  transition: background-color 2s, color 2s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #f1e3dd; /* Colore quando il link è in hover o in focus */
}

.img-container {
  display: flex;
  justify-content: center; /* Centra l'immagine orizzontalmente */
  margin: auto auto; /* Rimuove qualsiasi margine */
  margin-top: 1rem;
}

.img-about-me {
  width: 250px; /* Mantiene la dimensione dell'immagine */
  border-radius: 50%; /* Mantiene l'immagine circolare */
  object-fit: cover; /* Mantiene l'adattamento dell'immagine al contenitore */
  transition: transform 0.9s ease, box-shadow 0.9s ease;
  margin-left: 0 !important; /* Rimuove il margine sinistro aggiunto dalla classe ms-3 */
}

.btn-floating {
  display: inline-flex; /* Cambia display a inline-flex */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra orizzontalmente */
  width: 35px; /* Dimensione fissa del pulsante */
  height: 35px; /* Dimensione fissa del pulsante */
  padding: 0; /* Rimuove padding extra */
  font-size: 15px; /* Puoi regolare la dimensione del simbolo */
  border-radius: 50%; /* Mantiene il bottone rotondo */
  transition: background-color 0.3s ease; /* Transizione per l'hover */
}

h3 {
  padding-bottom: 20px;
  padding-left: 30px;
  font-weight: bold;
  transition: background-color 2s, color 2s;
}

.card {
  background-color: #fff; /* Colore di sfondo di base per le card */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombra della card */
  transition: background-color 2s, color 2s;
}

.lead {
  padding: 0 30px;
  text-align: justify;
}

.lead, h3 {
  font-size: 1.3rem;
}

.button-container {
  text-align: center; /* Centra il pulsante */
  margin-top: -10px; /* Riduce lo spazio sopra il pulsante */
  margin-bottom: 35px;
}

.button-container .btn {
  display: inline-block;
  margin-top: 0; /* Elimina il margine superiore predefinito */
  padding: 10px 20px; /* Imposta una dimensione adeguata del pulsante */
}

.btn-light {
  transition: background-color 5s, color 5s;
}

.section-divider {
  position: relative;
  height: 1px;
  background-color: #f0f0f0;
  overflow: hidden;
  margin: 20px 0;
  transition: background-color 2s, color 2s;
}

.section-divider::before,
.section-divider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.2;
  z-index: 1;
  transform: skew(-20deg, 50deg);
  animation: glitch 50.5s infinite;
}

.section-divider::after {
  animation-delay: 0.75s;
}

/*regolare l'immagine della sezione about me*/
.img-about-me {
  width: 250px; /* Imposta la larghezza dell'immagine */
  border-radius: 50%; /* Rendi l'immagine circolare */
  object-fit: cover; /* Adatta l'immagine al contenitore */
  transition: transform 0.9s ease, box-shadow 0.9s ease; /* Aggiungi una transizione fluida */
}

.img-about-me:hover {
  transform: scale(1.1); /* Ingrandisci l'immagine al passaggio del mouse */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Aggiungi un'ombra */
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(10px, -3px);
  }
  40% {
    transform: translate(-8px, 4px);
  }
  60% {
    transform: translate(5px, 10px);
  }
  80% {
    transform: translate(-10px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch-text {
  position: relative;
  font-size: 1.3rem;
  color: black;
  animation: subtle-glitch 3s infinite;
  animation-delay: 5s; /* Ritardo di 5 secondi */
}

.glitch-text::before,
.glitch-text::after {
  content: "Francesco Grande # Portfolio";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  color: rgba(255, 0, 0, 0.6); /* Colore glitch leggermente visibile */
  clip: rect(0, 900px, 0, 0); /* Clip iniziale */
}

.glitch-text::before {
  animation: subtle-glitch-before 3s infinite linear alternate;
  animation-delay: 5.5s; /* Ritardo di 5.5 secondi */
  color: rgba(0, 255, 255, 0.6); /* Colore glitch ciano */
}

.glitch-text::after {
  animation: subtle-glitch-after 3s infinite ease-in alternate;
  animation-delay: 4s; /* Ritardo di 4 secondi */
  color: #c83349; /* Colore glitch limegreen */
}

@keyframes subtle-glitch {
  0%, 100% {
    transform: translate(0);
  }
  30% {
    transform: translate(1px, 1px); /* Movimento molto piccolo */
  }
  60% {
    transform: translate(-1px, -1px); /* Movimento molto piccolo */
  }
}

@keyframes subtle-glitch-before {
  0%, 100% {
    clip: rect(0, 900px, 0, 0);
    transform: translate(0);
  }
  30% {
    clip: rect(10px, 900px, 40px, 0); /* Leggero smottamento del glitch */
    transform: translate(-1px, -1px); /* Movimento minimo */
  }
  60% {
    clip: rect(20px, 900px, 60px, 0); /* Leggero smottamento del glitch */
    transform: translate(1px, 1px); /* Movimento minimo */
  }
}

@keyframes subtle-glitch-after {
  0%, 100% {
    clip: rect(0, 900px, 0, 0);
    transform: translate(0);
  }
  30% {
    clip: rect(15px, 900px, 50px, 0); /* Piccolo spostamento */
    transform: translate(1px, -1px); /* Movimento molto piccolo */
  }
  60% {
    clip: rect(25px, 900px, 70px, 0); /* Piccolo spostamento */
    transform: translate(-1px, 1px); /* Movimento molto piccolo */
  }
}

.p-3 {
  background-color: #f2f2f2;
  border-radius: 8px;
  text-align: center;
  transition: background-color 2s, color 2s;
}

.description-one {
  font-family: "Duru Sans", sans-serif;
  text-align: justify;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* In caso di overflow, le icone andranno su una nuova riga */
  gap: 15px; /* Spazio tra le icone */
  padding: 10px;
}

.skill-icon {
  width: 100px; /* Dimensione delle icone */
  height: auto; /* Mantiene le proporzioni */
}

/* Modalità scura */
body.dark-mode {
  background-color: #0F0F0F;
  color: #0F0F0F;
}

body.dark-mode .header-title{
  color: #F8F9FA;
}
body.dark-mode .navbar {
  background-color: #423F3E !important;
}

body.dark-mode .socials {
  background-color: #423F3E !important;
}


body.dark-mode .navbar-nav .nav-link {
  color: #F8F9FA; /* Colore del testo della navbar in modalità scura */
}

body.dark-mode .navbar-nav .nav-link:hover,
body.dark-mode .navbar-nav .nav-link:focus {
  color: #423F3E; /* Colore quando il link è in hover o in focus */
}

body.dark-mode .btn-floating {
  display: inline-flex; /* Cambia display a inline-flex */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra orizzontalmente */
  width: 35px; /* Dimensione fissa del pulsante */
  height: 35px; /* Dimensione fissa del pulsante */
  padding: 0; /* Rimuove padding extra */
  font-size: 15px; /* Puoi regolare la dimensione del simbolo */
  border-radius: 50%; /* Mantiene il bottone rotondo */
  transition: background-color 0.3s ease; /* Transizione per l'hover */
    color: #F8F9FA;

}

body.dark-mode .btn-light {
  background-color: #7E2553;
  color: #ddd;
}

body.dark-mode .section-divider {
  background-color: #7E2553;
}

body.dark-mode .p-3 {
  background-color: #423F3E; /* Cambia colore di sfondo per elementi con classe .p-3 */
}

body.dark-mode .card {
  background-color: #423F3E; /* Cambia colore di sfondo per tutte le card in modalità scura */
  color: #ddd; /* Cambia colore del testo all'interno della card */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Cambia l'ombra per adattarsi alla modalità scura */
}

/* Icona per la modalità scura */
#theme-toggler .fa-sun-bright {
  display: none;
}

/* Icona per la modalità chiara */
body.dark-mode #theme-toggler .fa-sun-bright {
  display: inline;
}

/* Icona per la modalità scura */
#theme-toggler .fa-moon {
  display: none;
}

/* Icona per la modalità scura */
body.dark-mode #theme-toggler .fa-moon {
  display: inline;
}

#theme-toggler {
  background: none; /* Rimuove lo sfondo */
  border: none; /* Rimuove il bordo */
  outline: none; /* Rimuove l'outline quando il pulsante è selezionato */
  cursor: pointer; /* Cambia il cursore a una mano per indicare che è cliccabile */
  padding: 0; /* Rimuove il padding predefinito */
  font-size: 24px; /* Dimensione delle icone (puoi regolarla) */
  color: inherit; /* Mantiene il colore del testo ereditato */
}

#theme-toggler i {
  display: inline; /* Mostra le icone inline */
}

body.dark-mode footer {
  color: #F8F9FA;
  transition: background-color 2s, color 2s;
}

@media (max-width: 355px) {
  .navbar {
    display: block; /* Cambia il display a block per un layout più semplice */
    text-align: center; /* Centra il contenuto all'interno della navbar */
  }

  .navbar-brand {
padding-left: 1rem;  
  }
  
  .navbar-toggler {
    margin: 0 auto; /* Imposta un margine automatico per centrare l'elemento */
    position: relative;
  }
}



/* Media Queries per dispositivi mobili e schermi di piccole dimensioni */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem; /* Riduce la dimensione del testo per piccoli schermi */
  }

  .navbar-toggler {
    right: 0.25rem; /* Sposta il pulsante a destra per i piccoli schermi */
    top: auto; /* Regola l'allineamento verticale */
  }

  .navbar-nav .nav-link {
    font-size: 1rem; /* Riduce la dimensione del testo dei link */
  }

  .glitch-text {
    font-size: 1.1rem; /* Riduce la dimensione del testo per piccoli schermi */
  }

  .skills-container {
    gap: 10px; /* Riduce lo spazio tra le icone */
  }

  .skill-icon {
    width: 80px; /* Riduce la dimensione delle icone per piccoli schermi */
  }
}

/* Media Queries per tablet e schermi di medie dimensioni */
@media (min-width: 577px) and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.1rem; /* Dimensione del testo per tablet e schermi medi */
  }

  .navbar-toggler {
    right: 0.5rem; /* Mantiene il pulsante a destra per schermi medi */
    top:auto;
  }

  .navbar-nav .nav-link {
    font-size: 1.1rem; /* Dimensione del testo dei link */
  }

  .glitch-text {
    font-size: 1.2rem; /* Dimensione del testo per schermi medi */
  }
}

/*posizionamento foto about me e container su schermi piccoli*/
@media (max-width: 768px) {
  .card {
    flex-direction: column; /* Dispone gli elementi in colonna */
    text-align: center; /* Centra il testo e l'immagine */
  }

  .img-container {
    order: -1; /* Posiziona l'immagine sopra il testo */
    margin: auto auto; /* Centra l'immagine con margine sotto */
    margin-top: 1rem;
  }

  .img-about-me {
    width: 150px; /* Riduce la dimensione dell'immagine */
    margin: 0 auto; /* Centra l'immagine */
  }

  h3 {
    padding: 0;
  }
}